{% extends "frontend/base.html.twig" %}
{% block body %}
<div class="container">
        <h1 id="partners">Nos Partenaires</h1><br>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="item">
                        <div class="row">
                           <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/7.jpg" alt="Image" style="max-height:80px;"></a></div>
                           <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/17.png" alt="Image" style="max-height:80px;"></a></div>
                           <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/9.png" alt="Image" style="max-height:80px;"></a></div>
                           <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/10.png" alt="Image" style="max-height:80px;"></a></div>
                           <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/11.png" alt="Image" style="max-height:80px;"></a></div>
                           <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/12.jpg" alt="Image" style="max-height:80px;"></a></div>
                        </div>
                 </div>
                 <div class="item">
                         <div class="row">
                             <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/13.png" alt="Image" style="max-height:80px;"></a></div>
                             <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/14.jpg" alt="Image" style="max-height:80px;"></a></div>
                             <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/15.png" alt="Image" style="max-height:80px;"></a></div>
                             <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/16.png" alt="Image" style="max-height:80px;"></a></div>
                             <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/1.jpg" alt="Image" style="max-height:80px;"></a></div>
                             <div class="col-md-2 col-xs-4"><a href="" class="thumbnail"><img  src="https://tmaxtech.co.th/images/Partner/2.jpg" alt="Image" style="height:80px;"></a></div>
                         </div>
                 </div>
            </div>
        </div>
</div>
{% endblock %}