# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
Thumbs.db

# NPM packages folder.
node_modules/

web/bundles/
web/js/
app/config/parameters.yml
app/bootstrap.php.cache
app/SymfonyRequirements.php
app/cache/*
app/logs/*
app/cache/.gitkeep
!/app/logs/.gitkeep
bin/*
bin/phpunit
/vendor/
/features/
.php_cs.cache
.idea/*

# Brunch folder for temporary files.
tmp/

# Brunch output folder.
public/

Supprimerait .idea/

# frontend deps
/bower_components
/node_modules/*
/bower_components/*
npm-debug.log
npm-debug.log.*

# created by brunch
web/javascripts/
web/styles/
web/fonts/
web/images/
web/video

