<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Heavy-Drive | Location de voiture de luxe - Kilométrage illimité !{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/vendor.css') }}" />
            <link rel="stylesheet" href="{{ asset('styles/front.css') }}" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logohd.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block jquery%}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('javascripts/vendor.js') }}"></script>
        {% endblock %}
    </body>
</html>
