header.carousel {
  height: 50%;
}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%;
}
header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
#carousel-example-generic{
  margin-left: 30%;
}
.tarif_prestation li, a {
  font-size: large;
}
.tarif_prestation a {
  font-size: large;
  color: #6E1F7C;
  text-decoration: none;
}

.bs-five-area.bs-radius{
  border-radius: 30px;
  text-align: center;
}
.bs-five-area .bs-five{
  position: relative;
  width: 100%;
  margin: auto;
  transition: all 0.4s;
  padding:20px 0px;
}
.bs-five-area .bs-five h6{
  font-weight: 700;
  letter-spacing: 2px;
}
.bs-five-area .bs-five h1{
  font-size:64px;
  font-weight: 100;
  line-height: 72px;
}
.bs-five-area .bs-five h1 sup{
  font-size:30px;
  top:-30px;
}
.bs-five-area .bs-five ul {
  margin:0;
  padding:0;
  list-style: none;
}
.bs-five-area .bs-five ul li{
  line-height: 45px;
  border-bottom:0px;
}
.bs-five-area .bs-five:hover{
  background: #6E1F7C;
  transition: all 0.4s;
}
.bs-five-area .bs-five.active {
  background: #6E1F7C;
  background: -webkit-linear-gradient(left, #6E1F7C , #21A476);
  background: -o-linear-gradient(right, #6E1F7C, #21A476);
  background: -moz-linear-gradient(right, #6E1F7C, #21A476);
  background: linear-gradient(to right, #6E1F7C , #21A476);
}
.bs-five-area .bs-five .btn-success{
  padding: 10px 50px;
  display: inline-block;
  border-radius: 30px;
  background-color: #6E1F7C;
  border-color: #6E1F7C;
}
.bs-five-area .bs-five.active .btn.btn-success,
.bs-five-area .bs-five:hover.bs-five .btn.btn-success{
  background: #E0FFF6 ;
  color:#444 ;
}
.bs-five-area .bs-five.active,
.bs-five-area .bs-five.active ul li,
.bs-five-area .bs-five:hover.bs-five,
.bs-five-area .bs-five:hover.bs-five ul li
{
  color:#fff;
}

.clickable{
  cursor: pointer;
}

.bs-five-area .bs-five.active,
.bs-five-area .bs-five.active a
.bs-five-area .bs-five:hover.bs-five,
.bs-five-area .bs-five:hover.bs-five a
{
  color:black;
}

.details_techniques {
  padding-top: 4%;
  padding-bottom: 2%;
}

.panel-info>.infos_moteur,
.panel-info>.infos_performance,
.panel-info>.infos_transmission {
  background-color: #6E1F7C;
  color: white;
}

.infos-car {
    border-color: black;
}