.mainfooter {
  padding-bottom: 20px;
  background-color: #fff;
  list-style-type: none;
  //font-family: ;
}

.mainfooter__top-panel {
  line-height: 1.2;
  padding-top: 30px;
  padding-bottom: 34px;
  background-color: black;
  color: #fff;
  text-align: center;
}

.mainfooter__title {
  padding-bottom: 4px;
  font-size: 1.5rem;
  font-weight: 200 ;
}

.mainfooter__subtitle {
  font-size: 1.125rem;
  font-weight: 100;
}

#footer-copyright {
  line-height: 1.2;
  padding-top: 25px;
  padding-bottom: 13px;
  background-color: black;
  color: #fff;
  text-align: center;
}
