//Media queries
// -------------------------------------------------

// TODO : dell the functions which uses this bps and this bps
$bp-xs : 320px;
$bp-sm : 767px;
$bp-md : 1024px;

$xs-min : 320px;
$xs-max : 767px;
$sm-min : 768px;
$sm-max : 1024px;
$md-min : 1025px;