#back{
  background-color:#6E1F7C;
  height: 100px;
  padding-top:10px;
}
#titre{
  margin-left: 600px;
  margin-top: 30px;
  font-weight: bold;
  color: #D2A352;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
#titre2{
  margin-left: -820px;
  margin-top: 30px;
  font-weight: bold;
  color: #D2A352;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
