.logo_header {
  background-color: #6E1F7C;
  height: 121px;
  padding-top: 5px;
}

/**
*** Navigation
**/
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #FFCC00 !important;
  background-color: #500a6f !important;
}

.navbar {
  border-radius: 0%;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  font-size: 15px;
  font: 900 15px/22px "Roboto",sans-serif;
  text-transform: uppercase;
  color: #fff;
  display: block;
  //padding: 0 30px 0 14px;
  line-height: 40px;
  position: relative;
}