.contain_home{
  width: 100%;
}

.homepage__main-container {
  color:#222222;
  margin-top: 20%;
  border: 3px solid purple;
  padding: 10px;
  letter-spacing: 3px;
  float:none;
  clear:both;
  width: 70%;
  margin-left: 15%;
}

.video_play{
  top: -12px;
  z-index: -1;
  opacity: 0.60;

}

.row-video {
  margin-top: -1%;
}

#about_us, #expertise {
  padding: 100px 0;
}

.about_us p{
  line-height: 10%;
}

#expertise {
  background-color: #eee;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light, hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

/*.panel-heading {
  text-align: center;
  border: 3px solid purple;
  border-bottom: 3px solid purple;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: -7%;
  width: 100%;
}*/

.content-section h1{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.logo-small {
  color: blueviolet;
  font-size: 75px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
#_navigation {
  margin-bottom: 0%;
}

