.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #FFCC00 !important;
  background-color: #500a6f !important;
}
#slogan{
  color:#222222;
  z-index: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20%;
  border: 3px solid purple;
  padding: 10px;
  border-radius: 15px;
  width: 700px;
  letter-spacing: 3px;
  font-size: 25px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container-fluid {
  padding: 60px 50px;
}
.panel-heading {
  text-align: center;
  border: 3px solid purple;
  border-bottom: 3px solid purple;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: -7%;
  width: 100%;
}
.content-section{
  width: 80%;
  margin: 0% auto;
  padding: 8% 0;
  margin-top: -10%;
}
.content-section h1{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.content-section p{
  font-size: 1.2em;
  color: #333;
}
.container-fluid {
  padding: 60px 50px;
}
.logo-small {
  color: blueviolet;
  font-size: 75px;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
#_navigation {
  margin-bottom: 0%;
}
#vid{
  top: -12px;
  z-index: -1;
  opacity: 0.60;
}
#homecontainer{
  width: 100%;
}