.features-item:last-child {
  margin-bottom: 0px;
}

.features-item .each-item {
  margin-bottom: 30px;
}

.business-item .each-item-inner {
  overflow: hidden;
  display: block;
  -ms-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
  -o-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
}

.bg-cover {
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
}

.triangle-left, .triangle-right, .triangle-top, .triangle-bottom {
  position: relative;
}

.vertical-middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.business-item .features-content .inner {
  background-color: #ffffff;
  padding: 50px;
}

.text-right {
  text-align: right;
}

.business-item .section-header {
  margin-bottom: 15px;
}

.business-item .read-more, .business-item .btn-interest {
  margin-top: 28px;
}

.business-item .section-heading {
  font-weight: 700;
}

.section-heading {
  color: #2a3855;
  display: block;
  margin: 0;
}

h3 {
  font-size: 21px;
  line-height: 45px;
  font-weight: 700;
  letter-spacing: 1px;
}

.business-item .small-spacing p {
  line-height: 24px !important;
}

.business-item .detail p {
  line-height: 30px;
}

p:last-child {
  margin-bottom: 0px;
}

.business-item .features-content .inner {
  background-color: #ffffff;
  padding: 50px;
}