.wedding-container {
  padding-bottom: 20%;
}

.panel-footer .sub-btn {
  background-color: #6E1F7C;
  color: white;
}

.panel-pricing .panel-heading {
  padding: 13px 10px;
  color: #fdfdfd;
  background-color: #6E1F7C;
  border-color: #6E1F7C;
}

#well .wedding{
  background-color: white
}

.line { border-left:3px solid lightgray;margin-left: 20px }

.well-wedding {
  padding: 0px;
}

#price {
  padding-top: 2%;
}

#price-cortege {
  margin: 0 auto;
  padding-top: 2%;
  width: 100%;
}

.panel-pricing:hover {box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); }
.section-wedding {
  padding-bottom: 2%;
}