embed, iframe, object
{
  max-width: 100%;
}

.centered {
  text-align: center;
}

iframe {
  width:100%;
  height:auto;
}

.panel-footer .btn-primary {
  color: #fff;
  background-color: #6E1F7C;
  border-color: #6E1F7C;
}