.panel-login > .panel-heading {
  color: #fff;
  background-color: #6E1F7C;
  border-color: #6E1F7C;
}

.panel-login {
  border-color: #6E1F7C;
}

.panel-login > .panel-body .btn-primary{
  background-color: #6E1F7C;
  border-color: #6E1F7C;
}

.panel-login > .panel-body .forgot-password {
  color: black;
}

.panel-login > .panel-body .signup {
  color: black;
}

.panel-register > .panel-heading {
  color: #fff;
  background-color: #6E1F7C;
  border-color: #6E1F7C;
}

.panel-register {
  border-color: #6E1F7C;
}

.panel-register > .panel-body .btn-primary{
  background-color: #6E1F7C;
  border-color: #6E1F7C;
}

.panel-register > .panel-body .forgot-password {
  color: black;
}

.panel-register > .panel-body .signup {
  color: black;
}




