{% extends "frontend/base.html.twig" %}
{% block body %}
    <div class="container">
        <h2 class="centered">{{ 'heavy.cars.selection'|trans }}</h2>
        <hr class="star-light">
        {{ include ('frontend/car/list__cars.html.twig') }}
    </div>
{% endblock %}