@import "components/_footer.scss";

@import "components/_homepage.scss";
@import "components/_header.scss";

@import "components/_mixin.scss";
@import "components/_global.scss";

@import "components/_cars.scss";
@import "components/_contact.scss";
@import "components/_service.scss";
@import "components/_wedding.scss";
@import "components/_details.scss";
//@import "components/_reservation.scss";
@import "components/login.scss";
@import "components/account.scss";
